<div class="jumbotron mt-4">
  <h1 class="display-4">Notes app Nodejs And Mongodb!</h1>
  <p class="lead">A simple App to manage Notes developed with Nodejs, Express, Mongodb and Javascript Technologies</p>
  <hr class="my-4">
  <p>
    PASOS PARA HACER UNA NOTA NUEVA!!!!
  </p>
  <p>
    *HACER CLIC EN REGISTER
  </p>
  <p>
    *VE EN LA PESTAÑA DE LOGIN Y ACCEDE CON TU CORREO Y CONTRASEÑA PARA
     CREAR UNA NUEVA NOTA
  </p>

</div>
